<div class="jumbotron">
  <h1>ReceptKönyv</h1>
  <p>Ez egy receptkönyv alkalmazás.</p>
  <p>Az oldal használatához Bejelentkezés szükséges</p>
  <p><a  href="/login" class="btn btn-primary btn-lg">Bejelentkezés</a></p>
</div>